* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
color of search : #e9ecef


*/


/*-------------- MAIN PAGE -----------------------*/

span {
    font-family: 'Hina Mincho', serif;
}
h3 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*------------- NAV BAR ------------------------*/

.nav-bar {
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    border-bottom: 1px solid #FFC078;
}

.mark-name {
    font-size: 1rem;
    font-family: 'Great Vibes';

}
.search-input {
    padding: 0.8rem 1rem;
    background-color: #e9ecef;
    border: none;
    width: 7rem;
    height: 1.2rem;
}
a {
    background-image: linear-gradient(
      to right,
      #FFC078,
      #FFC078 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  a:before{
    content: '';
    background: #FFC078;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 1px;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
   background-position: 0;
  }
  
  a:hover::before{
    width: 100%;
  }
/*---------------- CONTENT MAIN PAGE---------------------*/

.background-img-main {

    width: 100%;
    z-index: -1;
}

.main-page {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.select-men-woman {
  cursor: pointer;
    position: absolute;
    margin: 1rem;
    font-size: 0.9rem ;
    display: flex;
    gap: 1rem;
}

.offers-letter {
    border-bottom: 1px solid black;

    font-size: 1.5rem;
}
.offers {
    margin-top: 5rem;
    position: absolute;
    align-self: flex-end;
    margin-right: 1rem;
}

/*-----------------BISNESS MEN SECTION--------------------------*/

.main-page-business {
    display: flex;
    flex-direction: column;
}
.img-main-executive {
    padding: 0 1rem 0 1rem;
    position: relative;
    width: 100%;
}
.img-main-executive-two {
  display: none;
}
.business-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.title-main-page {
    font-size: 1.5rem;

}
.btn-main-page {
    border-bottom: 0;
    border-top: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    color: #000000;
    transition: all 0.3s;
    position: relative;
}
  .btn-main-page span {
    font-size: 1.5rem;
    transition: all 0.3s;
  }
  .btn-main-page::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    transform: scale(0.1, 1);
  }
  .btn-main-page:hover span {
    letter-spacing: 2px;
  }
  .btn-main-page:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-main-page::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
  }
  .btn-main-page:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }
  .desktop-page-business {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem
  }

/*------------------MAIN PAGE STREET ---------------------*/

.main-page-street {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}
.img-main-street {
    padding: 1rem 1rem 0 1rem;
    position: relative;
    width: 100%;
}
.img-main-street-two {
  display: none;
}
.street-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.btn-shop {
  font-size: 1.3rem;
  padding: 0.6rem 5rem;
  border-left: 1px solid black ;
  border-right: 1px solid black;
  border-top: 1px solid black;
}
.desktop-page-street {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1rem
}

/*--------------------- TABLET 768px ---------------------*/
@media screen and (min-width: 768px) {
  .forDesktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .main-page {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .mark-name {
    font-size: 1.6rem;
  }

  .nav-bar {
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    border: none;
    position: absolute;
    width: 100%;
  }
  .search-input {
    display: none;
  }
  .select-men-woman {
    font-size: 1.5rem;
    transform: translate(19rem,3rem);
    position: absolute;
  }

  .offers-letter {
    
    font-size: 3rem;
  }
  .offers {
    transform: translate(-5rem,6rem);
  }
  .business-content {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}
  .main-page-business {
    grid-column-start:1 ;
    grid-column-end: 3;
  }
  .img-main-executive {
    width: 50%;
  }
  .img-main-executive-two {
    margin-bottom: 1.5rem;
    align-self:flex-start;
    display:block;
    width: 100%;
    height: 21rem;
  }
  .desktop-page-business {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  /*-------STREET------------*/
  .main-page-street {
    grid-column-start: 1;
    grid-column-end: 3;
    border-top: 1px solid rgba(255, 181, 43, 0.288);
  }
  .street-content {
    flex-direction: row-reverse;
    margin-top: 3rem;
    
  }
  .desktop-page-street {
    display: flex;
    flex-direction: column;
  }
  .img-main-street {
    padding: 0 1rem 0 0;
    width: 100%;
  }
  .img-main-street-two {
    display: block;
    width: 70%;
  }
}