* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------------PRODUCT FONT------------------------*/

span {
    font-family: 'Hina Mincho', serif;
}
h3 {
  font-family: 'KoHo', sans-serif;
}

/*----------- Nav bar-------------------*/
.nav-bar {
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    border-bottom: 1px solid #FFC078;
}

.mark-name {
    font-size: 1rem;
    font-family: 'Great Vibes';

}
.search-input {
    padding: 0.8rem 1rem;
    background-color: #e9ecef;
    border: none;
    width: 7rem;
    height: 1.2rem;
}
a {
    background-image: linear-gradient(
      to right,
      #FFC078,
      #FFC078 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  a:before{
    content: '';
    background: #FFC078;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
   background-position: 0;
  }
  
  a:hover::before{
    width: 100%;
  }

 /*--------------Shop Page Products---------------------*/
.header {
    margin: 1rem 0 2rem 1rem;
}
.title-section {
    font-size: 1rem;
}
 .shop-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
 }

 .img {
    padding: 0.3rem;
    width: 100%;
    height: 100%;
    
 }
 .product-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
 }
 .description-product {
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
 }
 h3 {
    font-size: 0.8rem;
 }

 .btn-product {
    margin-top: 0.2rem;
    border-bottom: 0;
    border-top: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
    text-align: center;
    cursor: pointer;
    color: #000000;
    transition: all 0.3s;
    position: relative;
}
  .btn-product span {
    font-size: 1.2rem;
    transition: all 0.3s;
  }
  .btn-product::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    transform: scale(0.1, 1);
  }
  .btn-product:hover span {
    letter-spacing: 2px;
  }
  .btn-product:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-product::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
  }
  .btn-product:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }

  /*-------------- TABLETS 768px-------------------------*/

  @media screen and (min-width:768px) {
    .mark-name {
      font-size: 1.6rem;
    }
    .nav-bar {
      font-size: 1.1rem;
    }
    .search-input {
      padding: 1rem 10rem;
      background-color: #e9ecef;
      border: none;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img {
    padding: 1.5rem;
  }
  .shop-page {
    margin-bottom: 3rem;
  }
}

  /*--------------  Desktop 1024px-------------------------*/

  @media screen and (min-width: 1024px) {
    .title-section {
      font-size: 1.6rem;
    }
    h3 {
      font-size: 1.2rem;
    }
    .description-product {
      gap: 2rem;
    }
    .img {
      padding: 2.5rem;
    }
    .nav-bar {
      font-size: 1.5rem;

    }
    .mark-name {
      margin-left: 1rem;
      font-size: 2.3rem;
    }
  }


